<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="center-view">
      <form th:action="@{/login}" method="post">
        <div class="login-container">
          <h3>Login in <span th:text="${brandName}">name</span></h3>

          <div th:if="${param.error}">
            Invalid username and password.</div>
          <div th:if="${param.logout}">
            You have been logged out.</div>

          <div style="padding: 8px">
            <label for="username">Username</label>
            <input name="username" id="username"/>
          </div>

          <div style="padding: 8px">
            <label for="password">Password</label>
            <input name="password" id="password"/>
          </div>

          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>