<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="post">
        <input name="firstName" type="text" placeholder="First Name"/> <br>
        <input name="lastName" type="text" placeholder="Last Name"/> <br>
        <input name="username" type="text" placeholder="Username"/> <br>
        <input name="password" type="password" placeholder="******"/> <br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>